# Dependencies
/node_modules

# Assets
/public

# Build
/dist

# Coverage
/coverage

# Jest Config File
jest.config.js

# Eslint Config File
.eslintrc.js

# Prettier Config File
.prettierrc.js

# Test files
**/*.test.ts